# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android specific
android/.gradle
android/build
android/*/build
android/*/src/main/gen
android/*/src/main/obj
android/*/src/main/assets
android/keystore.properties
android/local.properties
android/*.iml
android/.idea
*.jks
*.keystore
android/.cxx/

# IDE Specific Files
.vscode/
.idea/
*.iml

# iOS Specific (if applicable)
ios/build/
ios/Pods/
*.xcworkspace
*.xcuserstate

# Expo Updates
metro.config.js

# Miscellaneous Files
*.log
*.tmp
*.temp
